{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
  <div class="container">
    <div class="card_pet">
      <form action="" class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-md-3">
          <label for="inputNome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputNome">
        </div>

        <div class="col-md-3">
          <label for="inputEspecie" class="form-label">Espécie</label>
          <input type="text" class="form-control" id="inputEspecie">
        </div>

        <div class="col-md-3">
          <label for="inputRaça" class="form-label">Raça</label>
          <input type="text" class="form-control" id="inputRaça">
        </div>

        <div class="col-md-3">
          <label for="inputCor" class="form-label">Cor</label>
          <input type="text" class="form-control" id="inputCor">
        </div>
        <div class="col-md-3">
          <label for="inputSexo" class="form-label">Sexo</label>
          <div class="d-flex justify-content-around">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Macho
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Fêmea
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="inputNacimento" class="form-label">Nascimento</label>
          <input type="date" class="form-control" name="" id="">
        </div>

        <div class="col-md-3">
          <label for="inputPorte" class="form-label">Porte</label>
          <select name="form-control" class="form-select" id="inputPorte">
            <option value="Mi">Micro</option>
            <option value="P">Pequeno</option>
            <option value="M">Médio</option>
            <option value="G">Grande</option>
            <option value="Gi">Gigante</option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="inputIdade" class="form-label">Idade</label>
          <input type="number" class="form-control" id="inputIdade">
        </div>

        <div class="col-md-12 d-flex justify-content-between mt-5">
          <div>
            <label class="form-label" for="date_cadastro">Data de Cadastro:</label>
            <p>28/03/2022</p>
          </div>
          <div>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Cadastrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}