{% extends 'base.html' %}
{% load static %}
{% block content %}

<section #usuario class="pet-form-container ">
  <div class="sub_card_pet card">
    <div class="card-header card__titulo">
      <h5>Cadastro de Usuário</h5>
    </div>
    <div class="card-body">

      <form class="row g-3" action="{% url 'cadastro-usuario' %}" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <p style="color: cornflowerblue;">{{ message }}</p>
        {% endfor %}
        <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12">
          <label class="form-label" for="nome_receita">Nome</label>
          <input type="text" class="form-control" name="nome" required>
        </div>
        <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12">
          <label class="form-label" for="email">Email</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12">
          <label class="form-label" for="password">Senha</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12">
          <label class="form-label" for="password2">Confirmação de senha</label>
          <input type="password" class="form-control" name="password2" required>
        </div>
        <div class="card_Pet_btn">
          <a class="btn card-btn-primary" style="margin-top: 36px; margin-left: 0;" href="{% url 'login-usuario' %}" type="submit">Criar sua
            conta</a>
        </div>
      </form>
    </div>

  </div>

</section>

{% endblock %}