{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    {% include 'partials/_navbar.html' %}
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>E entre para o nosso time</h1>
            <img src="{% static 'img/animal.svg' %}" alt="">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1 style="margin-bottom: 18px;">LOGIN</h1>
                {% csrf_token %}

                {% for message in messages %}
                    <p style="color: cornflowerblue;">{{ message }}</p>
                {% endfor %}

                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </div>
                <button class="btn-login">Login</button>
                <p style="color: white; text-align: center;">Não possui uma conta? <a href="{% url 'cadastro-usuario' %}" style="color: cornflowerblue; text-decoration: none;">Cadastre-se</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}