{% load static %}

<section class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="icon_logo fa-brands fa-centercode"></i>
            <div class="logo_name">MerfiuLab</div>
        </div>
        <i class="fa-solid fa-bars" id="menu_btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="#">
                <i class="icon_logo fa-solid fa-gauge"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip_menu">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="icon_logo fa-solid fa-people-group"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip_menu">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="icon_logo fa-solid fa-paw"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip_menu">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="icon_logo fa-solid fa-user"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip_menu">Dashboard</span>
        </li>  
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="{%static 'img/logo.svg' %}" alt="">
                <div class="name_job">
                    <div class="name">Merfiu</div>
                    <div class="job">web POICO</div>
                </div>
            </div>
            <div class="item_log_out">
                <i class="fa-solid fa-right-from-bracket" id="log_out"></i>
            </div>
        </div>
    </div>
</section>

   <div class="home_content">
        <div class="text">home content</div>
    </div>

