{% load static %}

<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">CodingLab</div>
        <!-- <i class='bx bx-menu' id="btn"></i> -->
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="#">
                <i class='fa-solid fa-home'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Prem Shahi</div>
                    <div class="job">Web designer</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="text">Dashboard</div>
</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("fa-bars", "fa-bars-alt-right");//replacing the iocns class
        } else {
            closeBtn.classList.replace("fa-bars-alt-right", "fa-bars");//replacing the iocns class
        }
    }
</script>