{% load static %}

<footer id="rodape">
    <div class="rodape-wrapper">
        <div class="empresa-wrapper">
            <img src="{% static 'img/logo.svg'%}" title="Grupo Jon Pet" alt="Grupo Jon Pet">
            <div class="social-wrapper">
                <span>Siga Nossas Redes:</span>
                <a href="javascript:void(0)" title="Facebook">
                    <i class="fa-brands fa-facebook icon_rodape"></i>
                </a>
                <a href="javascript:void(0)" title="Instagram">
                    <i class="fa-brands fa-instagram icon_rodape"></i>
                </a>
                <a href="javascript:void(0)" title="Youtube">
                    <i class="fa-brands fa-youtube icon_rodape"></i>
                </a>
            </div>
        </div>
    </div>
</footer>