{% load static %}

<section id="conteúdo">
    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index'%}">
                <img class="logo-img" src="{% static 'img/logo.png'%}" alt="petjon">
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav_topo mr-5" id="navbarNav">
                <ul class="navbar-nav nav_top_link ">
                    <li class="nav-item">
                        <a class=" btn btn_consulta " aria-current="page" href="{% url 'index'%}"><i class="fa-solid fa-house icone"></i>Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn btn_consulta" href="{% url 'lead'%}"><i class="fa-solid fa-comment icone"></i>Fale Conosco</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn btn_consulta" href="{% url 'login-usuario' %}"><i class="fa-solid fa-right-to-bracket icone"></i>Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>